@import "tailwindcss";
@import "@heroui/styles"; 
.container{
    height: 100vh;
    width: 100vw;
    background-color: var(----white);
}
main{
    display: flex;
    width: 100vw;
    height: 86%;
}